<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .linia {

            height: 2px;
            background-color: green;
            margin: 7px;
        }

        #kolor {
            color: green;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>05. Funkcje</h1>
        <br>
        <div class="linia"> </div>
        <br>
        <h2 id="kolor" v-text="text"></h2>
        <br>
        <h1>Filter:</h1>
        <br>
        <ul>
            <li v-for="product in getPremiumProducts(50)" >
                {{ product.name }} – {{ product.price }} zł
            </li>
        </ul>
        <br>
        <h1>Map:</h1>
        <br>
        <ul>
            <li v-for="product in getMappedPrices(0.9)">
                {{ product.name }} – {{ product.multi }} zł - {{product.category}}
            </li>
        </ul>
        <br>
        <h1>Reduce </h1>
        <br>
        <h1>Suma:</h1>
        <h1 v-text="getTotalValue()"> </h1>
        <br>
        <h1>Dla jendej kat:</h1>
        <h1 v-text="getCategoryValue('Elektronika')"> </h1>

    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    text: "map, filter, reduce- operacje na danych",
                    products: [
                        { id: 1, name: "Książka 'VueJS'", price: 35.99, category: "Książki" },
                        { id: 2, name: "Słuchawki Pro", price: 129.99, category: "Elektronika" },
                        { id: 3, name: "Myszka bezprzewodowa", price: 49.50, category: "Elektronika" },
                        { id: 4, name: "Zeszyt A4", price: 8.00, category: "Artykuły" },
                        { id: 5, name: "Monitor 4K", price: 999.00, category: "Elektronika" }
                    ]
                };
            },
            methods: {
                getPremiumProducts(minPrice) {
                  return this.products.filter(product => product.price > minPrice)
            },
            getMappedPrices(multiplier) {
                return this.products.map(product => ({
                    name: product.name,
                    category: product.category,
                    multi: product.price * multiplier
                }))
            },
            getTotalValue() {
                return this.products.reduce((akumulator, product)=> akumulator + product.price,0)
            },
            getCategoryValue(categoryName){
                const cat =  this.products.filter(product => product.category == categoryName)

                return cat.reduce((akumulator, product) => akumulator + product.price, 0)

            }
        }
        }).mount("#app");
    </script>
</body>

</html>